<html>

<head>
  <style src="widget.css"></style>
</head>

</head>

<body>
  <h1>We stand with bisexuals!</h1>
  <a class="wb-link" href="https://twitter.com/intent/tweet?text=I%20stand%20with%20the%20bisexual%20communities%21&hashtags=%23BiSolidarity">#BiSolidarity</a>
  <button class="wb-close">CLOSE!</button>
</body>

</html>
